#cmake stuff
build/*
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
#doxy files
doxy/
#executable
gba
#binaries/roms etc.
binaries/*
#other
.vscode/*